.techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.techstack__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.techStack__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--clr-slate400);
  font-size: var(--size-base);
  font-weight: 600;
}

.tech img {
  width: 4rem;
  height: 4rem;
}

/* lg */
@media (min-width: 1024px) {
  .techstack__title {
    font-size: var(--size-4xl);
  }

  .techstack__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
  }

  .techStack__content {
    gap: 3.5rem;
  }

  .stack {
    gap: 4.5rem;
  }

  .tech img {
    width: 4rem;
    height: 4rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .techstack__title {
    font-size: var(--size-5xl);
  }

  .techStack__content {
    gap: 4rem;
  }

  .stack {
    gap: 5rem;
  }

  .tech img {
    width: 5rem;
    height: 5rem;
  }
}
